/* fonty font */
@font-face {
    font-family: webfont;
    src: url("font.otf") format("opentype");
}

audio, #audio-controls {
	outline: none;
}

.faded-note {
	font-size: 0.8em;
	opacity: 0.6;
}

/* class for the main content div element */
.main {
	font-size: 1.22em;
    background-color: #FFF;
	color: #222222;
    margin: 0 auto;
    min-width: 300px;
    max-width: 44em;
    padding: 1em 2em 3em 2em;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
 }

 /* horizontal line */
hr {
    color: #323232;
    background-color: rgba(0,0,0,0.05);
    height: 1px;
    border: none;
    width: 60%;
   
    margin-bottom: 1.6em;
    margin-top: 1.4em;
}

/* style of the body and its elements */
body {
    font-family: webfont;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: #EEECE7; /* #EAEAEA; */
    -webkit-transition: background 5s ease-in-out;
    -moz-transition: background 5s ease-in-out;
    transition: background 5s ease-in-out;
}

p {
	margin-block-start: 0.6em;
	margin-block-end: 0.6em;
}

.stage-1 {
    background-color: #EEECE7;
}

.stage-2 {
    background-color: #878d94;
}

.stage-3 {
    background-color: #2f2f3a;
}

.stage-4 {
    background-color: #1e1e28;
}

/* heading 2, 1 point cooler than heading 1 */
h2 {
    text-align: center;
}

/* class that centers the text of the element */
.centered {
    text-align: center;
}

#footer {
	font-size: 0.8em;
	margin-top: 5em;
	margin-bottom: 5em;
	text-align: center;
	color: #FFF;
}

/* links */
a {
	text-decoration: none;
	color: #222222;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	transition: all 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
}

/* when you hover over a link */
a:hover {
	color: #A2A2A2;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

#audio-controls {
	opacity: 0;
	text-align: center;
	-webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

#audio-controls:hover {
	opacity: 1;
}
 